.header {
  position: fixed;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 100vw;
  height: 82px;
  z-index: 666;
  background-color: #fff;
  /* padding: 0 250px; */
}

.thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1248px;
  margin: 0 auto;
  padding: 20px 64px;
}

.logo_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

@media (max-width: 666px) {
  /* .header {
    justify-content: space-between;
  } */
  .logo_title {
    font-size: 18px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  width: 48px;
  height: 48px;
}

.name {
  line-height: 1.25;
}
